section.cooperation-section
  .wrapper
    .cooperation-section__container
      h2.cooperation-section__title.font-s-40.font-w-regular
        | Ознакомьтесь с условиями сотрудничества
      .cooperation-section__text.font-s-24 Выберите размер вашего города чтобы узнать величину <br> паушального взноса и размер вложений
      .swiper-large
        .cooperation-section__items.swiper-wrapper
          .cooperation-section__item.swiper-slide
            .cooperation-section__item-wrapper
              .cooperation-section__item-title.font-w-n-y-regular.font-s-28 до 500 000 жителей
              .cooperation-section__item-line
              .cooperation-section__item-text.font-s-16 Узнать величину паушального <br> взноса и размер инвестиций
              button.btn.btn--large(data-remodal-target="modal-form-cooperation") Узнать
          .cooperation-section__item.swiper-slide
            .cooperation-section__item-wrapper
              .cooperation-section__item-title.font-w-n-y-regular.font-s-28 до 1 000 000 жителей
              .cooperation-section__item-line
              .cooperation-section__item-text.font-s-16 Узнать величину паушального <br> взноса и размер инвестиций
              button.btn.btn--large(data-remodal-target="modal-form-cooperation") Узнать
          .cooperation-section__item.swiper-slide
            .cooperation-section__item-wrapper
              .cooperation-section__item-title.font-w-n-y-regular.font-s-28 от 1 000 000 жителей
              .cooperation-section__item-line
              .cooperation-section__item-text.font-s-16 Узнать величину паушального <br> взноса и размер инвестиций
              button.btn.btn--large(data-remodal-target="modal-form-cooperation") Узнать
        .swiper-progress-large.large-pagination

