header.header
  .header__inner
    .header__left
      .header__logo
        include ../components/logo.pug
      .header__title.font-s-16.font-w-inter-regular Франшиза кондитерской <br> студии & кофейни
    .header__right
      .header__connection
        include ../components/phone-number.pug
      a.header__call.btn.btn--order-call(href="tel:+70000000000") Заказать звонок
  .header__line
