section.presentation-section
  .wrapper-presentation
    .presentation-section__container
      h2.presentation-section__title.font-s-40.font-w-regular
        | Так будет выглядеть ваша первая <br> кондитерская & кофейня «Parfecoffee»
      .swiper-desktop
        .presentation-section__items.swiper-wrapper
          .presentation-section__item.swiper-slide
            img.presentation-section__item-img(src="images/presentation-section-image1.jpeg" loading="lazy" width="1160" height="754" alt="image1")
          .presentation-section__item.swiper-slide
            img.presentation-section__item-img(src="images/presentation-section-image2.jpeg" loading="lazy" width="1160" height="754" alt="image2")
          .presentation-section__item.swiper-slide
            img.presentation-section__item-img(src="images/presentation-section-image3.jpeg" loading="lazy" width="1160" height="754" alt="image3")
          .presentation-section__item.swiper-slide
            img.presentation-section__item-img(src="images/presentation-section-image4.jpeg" loading="lazy" width="1160" height="754" alt="image4")
          .presentation-section__item.swiper-slide
            img.presentation-section__item-img(src="images/presentation-section-image5.jpeg" loading="lazy" width="1160" height="754" alt="image5")
          .presentation-section__item.swiper-slide
            img.presentation-section__item-img(src="images/presentation-section-image6.jpeg" loading="lazy" width="1160" height="754" alt="image6")
          .presentation-section__item.swiper-slide
            img.presentation-section__item-img(src="images/presentation-section-image7.jpeg" loading="lazy" width="1160" height="754" alt="image7")
        .swiper-progress-desktop.desktop-pagination
        .swiper-button
          button.button-prev(aria-label="prev")
            img(src="images/presentation-section-btn.svg" loading="lazy" width="36" height="36" alt="prev")
          button.button-next(aria-label="next")
            img(src="images/presentation-section-btn.svg" loading="lazy" width="36" height="36" alt="next")
