section.start-section
  .wrapper
    .start-section__container
      .start-section__inner
        h2.start-section__title.font-s-40 Главные шаги на старте
        .start-section__subtitle.font-s-24 Как мы помогаем вам запустить прибыльный бизнес
      .start-section__box-top
        .start-section__box-first
          img.start-section__img-cake(src="images/start-section-cake.png" loading="lazy" width="515" height="581" alt="cake")
          img.start-section__img-plus(src="images/start-section-plus.svg" loading="lazy" width="112" height="104" alt="plus")
        .swiper-medium
          .start-section__text.font-s-26.color-grey Ознакомьтесь с ключевыми этапами <br> совместной работы
          .start-section__box-second.swiper-wrapper
            .start-section__item.swiper-slide
              .start-section__item-step Шаг 1
              .start-section__item-desc Заключаем договор <br> франшизы
            .start-section__item.swiper-slide
              .start-section__item-step Шаг 2
              .start-section__item-desc Помогаем в поисках подходящего <br> помещения и заключении договора <br> аренды
            .start-section__item.swiper-slide
              .start-section__item-step Шаг 3
              .start-section__item-desc Консультируем по вопросам <br> ремонта и оформления помещения
            .start-section__item.swiper-slide
              .start-section__item-step Шаг 4
              .start-section__item-desc Помогаем в поиске и обучении <br> персонала
            .start-section__item.swiper-slide.step-5
              .start-section__item-step Шаг 5
              .start-section__item-desc Запускаем рекламную <br> кампанию
            .start-section__item.swiper-slide.step-6
              .start-section__item-step Шаг 6
              .start-section__item-desc Передаем список поставщиков для <br> покупки необходимого оборудования
            .start-section__item.swiper-slide.step-7
              .start-section__item-step Шаг 7
              .start-section__item-desc Проводим открытие вашей собственной <br> кондитерской студии & кофейни
          .swiper-progress-medium.medium-pagination
      .start-section__box-bottom
        img.start-section__img-coffee(src="images/start-section-coffee.jpeg" loading="lazy" width="457" height="515" alt="coffee")
        img.start-section__img-pluses(src="images/start-section-pluses.svg" loading="lazy" width="171" height="45" alt="plus")
        .start-section__line
        .font-s-26.start-section__bottom-text Работаем строго по договору, в котором описаны <br> наши обязанности и все условия сотрудничества
        form.start-section__form(data-feedback-form)
          input.input.input--small(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.input--small(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn.btn--xxxl(type="submit") Скачать пример
        .start-section__privacy
          |Я принимаю условия 
          a(href="#" data-remodal-target="privacy").agree-link Политики конфиденциальности