.footer
  background-color $color-black
  &__container
    padding 20px 0 20px 0
    display: flex
    flex-direction: column
    align-items: center
    gap: 15px
    +above($breakpoints.sm)
      padding 50px 0 50px 19px
      flex-direction: row
      justify-content space-between

  &__block-inner
    display: flex
    align-items: center
    gap 20px

  &__privacy
    color $color-light-brown
    text-decoration: underline