.presentation-section
  background-color #FAFAFC
  &__container
    padding 20px 0 20px 0
    +above($breakpoints.md)
      padding 149px 0 64px 0

  &__title
    color #2E2E2E
    padding-bottom 20px
    text-align: center
    +above($breakpoints.md)
      padding-bottom 80px

  &__item
    width 300px !important
    +above($breakpoints.sm)
      width 580px !important
    +above($breakpoints.md)
      width 502px !important
    +above($breakpoints.xxxl)
      width 580px !important
    

  &__item-img
    width 100%
    height: auto
