.swiper-progress
  position relative !important
  height: 6px !important
  overflow: hidden
  background: #A8A8A8
  margin: 14px 0 0 0
  border-radius: 10px !important
  +above($breakpoints.sm)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: linear-gradient(to right, #5873FF, #57B4F8) 

.swiper-progress-medium
  position relative !important
  height: 6px !important
  overflow: hidden
  background: #A8A8A8
  margin: 14px 0 0 0
  border-radius: 10px !important
  +above($breakpoints.md)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: linear-gradient(to right, #5873FF, #57B4F8)

.swiper-progress-large
  position relative !important
  height: 6px !important
  overflow: hidden
  background: #A8A8A8
  margin: 14px 0 0 0
  border-radius: 10px !important
  +above($breakpoints.lg)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: linear-gradient(to right, #5873FF, #57B4F8) 